<div class="p-grid p-col-12 horizontal-center">

    <div class="p-col-12">
        <!-- <h1>This is an about page</h1> -->
    
        <!-- <input type="file" v-on:change="onFileSelected($event.target.files)">
        <button v-on:click="onUploadClicked()">Upload File</button> -->
    
        <!-- <div v-for="user in users" v-bind:key="user.userId">
            {{ user.userId }} |
            {{ user.userEmail }} |
            {{ user.userFirstName }} |
            {{ user.userLastName }}
        </div> -->

        <div v-if="isLoading">
            <div>Loading...</div>
            <br>
            <img
                class="pi pi-spin"
                alt="Pink Star"
                src="@/assets/PinkStar.png"
                width="200"
                height="200"
            />
        </div>

        <div v-if="!isLoading && files" v-for="file in files" v-bind:key="file.fileId">
            <div>{{ file.fileName }}</div>
            <br>
            <img
                class="vertical-center"
                v-bind:src="file.fileContents"
                v-bind:alt="file.fileName"
                width="200"
                height="200"
            />
        </div>

        <p-paginator
            template="FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
            v-model:first="first"
            v-model:rows="rows"
            v-model:totalRecords="totalRecords"
            v-on:page="onPaged($event)">
        </p-paginator>
    
        <!-- <div class="p-grid p-col-12" disabled="true">
            <div class="p-col-6">
                <p-inputText disabled="true">lol</p-inputText>
                <p-button label="Greet"></p-button>
                Hi
            </div>
            <div class="p-col-6 horizontal-left">
                There
            </div>
        </div> -->
    </div>
</div>