<div class="horizontal-center no-padding header-background-color">
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn" v-on:mouseover="setHiraganaToggle(true)" v-on:mouseleave="setHiraganaToggle(false)" v-on:click="setHiraganaToggle(!hiraganaToggle)">
                Hiragana
                <i v-bind:class="getHiraganaArrow()" style="font-size: small;"></i>
                <div v-bind:class="getHiraganaContent()" v-on:mouseleave="setHiraganaToggle(false)">
                    <a v-on:click="onDeckClicked('hiragana-characters')">Characters</a>
                    <a v-on:click="onDeckClicked('hiragana-vocabulary')">Vocabulary</a>
                </div>
            </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn" v-on:mouseover="setKatakanaToggle(true)" v-on:mouseleave="setKatakanaToggle(false)" v-on:click="setKatakanaToggle(!katakanaToggle)">
                Katakana
                <i v-bind:class="getKatakanaArrow()" style="font-size: small;"></i>
                <div v-bind:class="getKatakanaContent()" v-on:mouseleave="setKatakanaToggle(false)">
                    <a v-on:click="onDeckClicked('katakana-characters')">Characters</a>
                    <a v-on:click="onDeckClicked('katakana-vocabulary')">Vocabulary</a>
                </div>
            </button>
        </div>
        
        <div class="dropdown">
            <button class="dropbtn" v-on:mouseover="setKanjiToggle(true)" v-on:mouseleave="setKanjiToggle(false)" v-on:click="setKanjiToggle(!kanjiToggle)">
                Kanji
                <i v-bind:class="getKanjiArrow()" style="font-size: small;"></i>
                <div v-bind:class="getKanjiContent()" v-on:mouseleave="setKanjiToggle(false)">
                    <a v-on:click="onDeckClicked('kanji-radicals-n5')">N5 Radicals</a>
                    <a v-on:click="onDeckClicked('kanji-vocabulary-n5')">N5 Vocabulary</a>
                </div>
            </button>
        </div>
    </div>
</div>