<div class="p-grid p-col-12 horizontal-center">
    <div class="p-col-12">
        <div v-if="isLoading">
            <div>Loading...</div>
            <br>
            <img
                class="pi pi-spin"
                alt="Pink Star"
                src="@/assets/PinkStar.png"
                width="200"
                height="200"
            />
        </div>

        <div v-if="!isLoading && files" v-for="file in files" v-bind:key="file.fileId">
            <div>{{ file.fileName }}</div>
            <br>
            <img
                class="vertical-center"
                v-bind:src="file.fileContents"
                v-bind:alt="file.fileName"
                width="200"
                height="200"
            />
        </div>

        <p-paginator
            template="FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
            v-model:first="first"
            v-model:rows="rows"
            v-model:totalRecords="totalRecords"
            v-on:page="onPaged($event)">
        </p-paginator>
    </div>
</div>