.display-inline {
  display: inline-block;
}

.horizontal-left {
  text-align: left;
}

.horizontal-center {
  text-align: center;
}

.lateral-padding {
  padding-left: 1em;
  padding-right: 1em;
}

.horizontal-right {
  text-align: right;
}

.writable {
  cursor: crosshair;
}

.vertical-center {
  top: 50%;
}

.vertical-top {
  top: 100%;
}

.vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}