.clickable {
  cursor: pointer;
}

.horizontal-left {
  text-align: left;
}

.horizontal-center {
  text-align: center;
}

.horizontal-right {
  text-align: right;
}

.vertical-center {
  top: 50%;
}

.spinner-small {
  font-size: 25px;
}

.spinner-medium {
  font-size: 50px;
}

.spinner-large {
  font-size: 100px;
}