<div class="horizontal-center">
    <div class="vertical-padding">
        <div class="display-inline">
            <p-button label="←" v-on:click="previous()"></p-button>
        </div>
    
        <div class="display-inline lateral-padding">
            <p-button label="Random" v-on:click="randomize()"></p-button>
        </div>
        
        <div class="display-inline">
            <p-button label="→" v-on:click="next()"></p-button>
        </div>
    </div>
    
    <div v-if="!showStrokes" class="display-inline lateral-padding padding-bottom">
        <p-card style="min-height: 176px; min-width: 150px; max-width: 315px" v-bind:class="cardLockClass">
            <template #subtitle class="no-bottom-padding">
                <div style="clear: both;">
                    <span class="horizontal-center lateral-padding">
                        <p-button icon="pi pi-refresh" style="width:45px; height:35px;" v-on:click="flip()"></p-button>
                    </span>
                    <span class="horizontal-center lateral-padding">
                        <p-button v-bind:icon="lockIcon" style="width:45px; height:35px;" v-on:click="onLockClicked()"></p-button>
                    </span>
                </div>
            </template>
            
            <template #content class="no-vertical-padding">
                <div v-if="isKanji(cardValue)" class="horizontal-left" style="font-size:x-large;">
                    <span style="font-size: 26px;">音読み: </span> {{ cardValue.onYomi }}
                    <br>
                    <span style="font-size: 26px;">訓読み: </span> {{ cardValue.kunYomi }}
                </div>
                <div v-else style="font-size: 35px;">{{ cardValue }}</div>

                <p-button v-if="hasTranslation && !translationVisible" label="Translate" style="min-width:100px; min-height:35px;" v-on:click="onTranslateClicked()"></p-button>
                <div v-if="hasTranslation && translationVisible" style="font-size: 20px;">{{ cardTranslations }}</div>
            </template>
        </p-card>
    </div>

    <object
        v-if="strokes && showStrokes"
        style="max-width: 75%; max-height: 218px;"
        v-bind:data="imageContentsUrl">
    </object>

    <div v-if="strokes">
        <p-button
            label="Toggle"
            style="min-width:80px; min-height:20px;"
            v-on:click="onStrokeDisplayClicked()">
        </p-button>


        <div class="display-inline">
            Strokes: {{ strokeCount }} / {{ strokes }}
        </div>
    </div>

    <signature-pad-wrapper
        class="writable unselectable"
        width="100%"
        height="250px"
        v-bind:options="options"
        v-bind:ref="signaturePadRef"
        v-bind:refName="signaturePadRef">
    </signature-pad-wrapper>
    
    <div class="vertical-padding">
        <div class="display-inline lateral-padding">
            <p-button label="Undo" v-on:click="undo()"></p-button>
        </div>
    
        <div class="display-inline lateral-padding">
            <p-button label="Clear" v-on:click="clear()"></p-button>
        </div>
    </div>
</div>
